.business-section {
  padding-top: 50px;
  padding-bottom: 47px;
}

.business-subtitle {
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: #333333;

}

.business-title {
  margin-bottom: 34px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: #333333;

}

.business-text {
  margin-bottom: 39px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #333333;

}

.business-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 7px;
  padding-left: 28px;
  padding-right: 28px;
}


.business-img {
  max-width: 100%;
  height: auto;

}