      <section class="blog-post-one-section container">
        <ul class="blog list">
          <li>
            <div class="wrapper-blog">
              <h2 class="main-title-blog">April 16 2020</h2>
              <h3 class="sub-main-title-blog">Blog Post One</h3>
              <p class="section-text-blog">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptate, ipsum dignissimos quae laudantium asperiores nam
                aliquid impedit harum illum dolore explicabo ab dolores itaque
                rerum temporibus doloribus iste maiores deleniti?
              </p>

              <button class="read-blog-btn" data-modal-open>
                Read Our Blog
              </button>
            </div>
          </li>
          <li>
            <div class="wrapper-image-blog">
              <img
                src="./images/blog-post-one-img.jpg"
                alt="blog-image"
                width="680"
                height="517"
              />
            </div>
          </li>
        </ul>
      </section>