      <section class="business-section container">
        <p class="business-subtitle">This is what we do</p>
        <h2 class="business-title">Business Cases</h2>
        <p class="business-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
        <ul class="business-list">
          <li class="business-item">
            <img class="business-img" src="./images/rectangle-1-1.jpg" alt="People working at a table with computers" width="320" height="214">
          </li>
          <li class="business-item">
            <img class="business-img" src="./images/rectangle-2-1.jpg" alt="People working and taking notes in a notebook" width="320" height="214">
          </li>
          <li class="business-item">
            <img class="business-img" src="./images/rectangle-3-1.jpg" alt="Man at the table shakes hands with a woman" width="320" height="214">
          </li>
          <li class="business-item">
            <img class="business-img" src="./images/rectangle-4-1.jpg" alt="Six people shake hands" width="320" height="214">
          </li>
          <li class="business-item">
            <img class="business-img" src="./images/rectangle-5-1.jpg" alt="Woman working on a laptop" width="320" height="214">
          </li>
          <li class="business-item">
            <img class="business-img" src="./images/rectangle-6-1.jpg" alt="Three skyscrapers" width="320" height="214">
          </li>
          <li class="business-item">
            <img class="business-img" src="./images/rectangle-7-1.jpg" alt="Woman smiles in the company of colleagues" width="320" height="214">
          </li>
          <li class="business-item">
            <img class="business-img" src="./images/rectangle-8-1.jpg" alt="Three people working behind a laptop and smiling" width="320" height="214">
          </li>
        </ul>
      </section>