      <section class="callback container">
        <div class="block">
          <img
            src="./images/rectangle-9.jpg"
            alt="Man working on a computer"
            width="680"
            height="460"
          />
          <div class="callback-form">
            <h2 class="visually-hidden">Callback</h2>
            <h3 class="subtitle">Request Callback</h3>
            <form>
              <label>
                <input
                  type="text"
                  name="name"
                  placeholder="Enter your name"
                  class="callback-field"
                />
              </label>
              <label>
                <input
                  type="email"
                  name="email"
                  placeholder="Enter email*"
                  required
                  class="callback-field second"
                />
              </label>
              <button type="submit" class="callback-button">Send</button>
            </form>
          </div>
        </div>
      </section>