    <footer class="container">
      <ul class="footer-list">
        <li>
          <a href="#" class="footer-link">
            <svg width="35" height="35">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="footer-link">
            <svg width="35" height="35">
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="footer-link">
            <svg width="40" height="35">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="footer-link">
            <svg width="31" height="35">
              <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-text">Copyright © 2021 - FinanceLedger</p>
    </footer>