<section class="team container">
  <p class="team__text">Who we are</p>
  <h2 class="team__title">Our Professional Team</h2>
  <p class="team__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="team__list">
    <li class="team__item">
      <div>
        <img class="team__img" src="./images/john.jpg" alt="John Doe" />
      </div>
      <div>
        <h3>John Doe</h3>
        <p>President</p>
      </div>
      <div class="team__overlay"></div>
    </li>
    <li class="team__item">
      <div>
        <img class="team__img" src="./images/jane.jpg" alt="John Doe" />
      </div>
      <div>
        <h3>Jane Doe</h3>
        <p>Vice President</p>
      </div>
      <div class="team__overlay"></div>
    </li>
    <li class="team__item">
      <div>
        <img class="team__img" src="./images/steve.jpg" alt="John Doe" />
      </div>
      <div>
        <h3>Steve Smith</h3>
        <p>Marketing Head</p>
      </div>
      <div class="team__overlay"></div>
    </li>
  </ul>
</section>
