        <section class="provide-section container">
          <ul class="provide list">
            <li>
              <div class="wrapper-image-provide">
                <img
                  src="./images/Rectangle9.jpg"
                  alt="blog-image"
                  width="680"
                  height="460"
                />
              </div>
            </li>
            <li>
              <div class="wrapper-provide">
                <h2 class="main-title-provide">What you are looking for</h2>
                <h3 class="sub-main-title-provide">
                  We provide bespoke solutions
                </h3>
                <p class="section-text-provide">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Voluptate, ipsum dignissimos quae laudantium asperiores nam
                  aliquid impedit harum illum dolore explicabo ab dolores itaque
                  rerum temporibus doloribus iste maiores deleniti?
                </p>

                <button class="read-more-btn" data-modal-open>Read More</button>
              </div>
            </li>
          </ul>
        </section>